<main class="home-container">
  <app-header [title]="titlePage" [stats]="stats"></app-header>
  
  @if (pageState !== 'success') {
    <app-page-state
      [state]="pageState"
      [errorMessage]="error"
      [emptyMessage]="'No data available'"
      [showReloadButton]="true"
      (reload)="reloadData()"
    />
  } @else {
    <div class="chart-wrapper">
      <figure 
        class="chart-pie-container"
        role="img" 
        aria-describedby="chart-desc"
      >
        <app-chart
          [type]="chartType"
          [chartData]="chartData"
          (chartClick)="onCountryClick($event)"
        ></app-chart>
        
        <figcaption id="chart-desc" class="center">
          Medal distribution by country at the Olympic Games
        </figcaption>
      </figure>
    </div>
  }
</main>