<div>
  <div>
    <app-header [title]="titlePage" [stats]="stats"/>
  </div>
  
  @if (isLoading) {
    <div class="center">
      <app-spinner></app-spinner>
    </div>
  } @else if (error) {
    <div class="error-block">
      <p>{{ error }}</p>
      <button routerLink="">Back to Home</button>
    </div>
  } @else {
    <div class="chart-container wrapper-container">
      <div class="container">
        <app-chart 
          type="line"
          [labels]="chartLabels"
          [data]="chartData"
          label="Medals">
        </app-chart>
        <h2>Date</h2>
      </div>
    </div>
    
    <div class="center">
      <button routerLink="">Back to Home</button>
    </div>
  }
</div>