<div>
  <div>
    <app-header [title]="titlePage" [stats]="stats"/>
  </div>
  
  @if (isLoading) {
    <div class="center">
      <app-spinner></app-spinner>
    </div>
  } @else if (error) {
    <div class="error-block">
      <p>{{ error }}</p>
      <button routerLink="">Back to Home</button>
    </div>
  } @else if (chartData.length === 0) {
    <div class="center">
      <p>No data</p>
    </div>
  } @else {
    <div class="chart-wrapper">
      <figure class="chart-container">
        <app-chart 
          type="line"
          [chartData]="chartData"
          label="Medals">
        </app-chart>
        <figcaption class="center">Number of medals won at the Olympic Games per year.</figcaption>
      </figure>
    </div>
    
    <div class="center">
      <button routerLink="">Back to Home</button>
    </div>
  }
</div>