.center {
    display: flex;
    justify-content: center;
    margin: 5px;

    h2 {
        background: #0b868f;
        padding: 10px;
        border-radius: 10px;
        color: white;
    }
}

.error-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        display: block;
        width: auto;
    }
}

.chart-container {
    margin-inline: 1rem;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.chart-container {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .chart-container {
        width: 100%;
    }
}