:root {
    --primary-color: #0b868f;
    --color-gray: gray;
}

.flex-center-m {
    display: flex;
    justify-content: center;
    margin: 0.3125rem;
}

.error-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        display: block;
        width: auto;
    }
}

.chart-container {
    margin-inline: 1rem;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.chart-container {
    width: 50%;
}

button:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media screen and (max-width: 1000px) {
    .chart-container {
        width: 100%;
    }
}