dl {
    padding: 0.625rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.625rem;
    margin: 0;

    dd,dt {
        margin-inline: auto;
        text-align: center;
    }

    dd {
        font-weight: bold;
    }

    dt {
        color: var(--color-gray);
    }
}